* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.Control_contenedor {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.Control_formulario {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


@media (max-width: 763px) {
  .Control_formulario {
    width: 100%;
  }
}

.Control_titulo {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Control_control {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
   font-size: 10px;
   gap: 10px;
}
.dato{
    width: 100%;
}

.dato input{
  width: 100%;
}

.Control_tabla{
    width: 100%;
    margin: 40px 40px 20px;
    box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);;
}
table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    border: 1px solid #1a2929;
  }
  td,
  th {
    text-align: center;
    padding: 8px;
    border-right: 1px solid #1a2929;
  }
  td {
    font-size: 12px;
  }
  thead th {
    color: #ffffff;
    background: #1a2929;
  }
  tr:nth-child(even) {
    background: #9edfd3;
  }
  @media (max-width: 767px) {
    table {
      display: block;
      width: 100%;
    }
    thead,
    tbody,
    thead th {
      display: block;
    }
    thead th:last-child{
      border-bottom: none;
    }
    thead{
      float: left;
    }
    tbody{
      width: auto;
      position: relative;
      overflow-x: auto;
    }
    td,
    th{
      padding: 20px .625em .625em .625em;
      height: 60px;
      vertical-align: middle;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      width: 120px;
      font-size: 13px;
      text-overflow: ellipsis;
    }
    thead th{
      text-align:left;
      border-bottom: 1px solid #f7f7f9;
    }
    tbody tr{
      display: table-cell;
    }
    tbody tr:nth-child(odd){
      background: transparent;
    }
    tr:nth-child(even){
      background: transparent;
    }
    tr td:nth-child(odd){
      background: #F8F8F8;
      border-right: 1px solid #1A2929;
    }
    tr rd :nth-child(even){
      background-color: #9edfd3;
      border-right: 1px solid #1a2929;
    }
    tbody td{
  display:block;
  text-align: center;
    }
  }
  .Control_enviar{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .Control_enviar input{
    width: 150px;
    height: 35px;
  }
  

  .dato_Boton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }