* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contenedor {
  width: 100%;
  height: 100px;
  display: grid;
  place-items: center;
}
.formul {
  width: 800px;
  background-color: rgb(203, 216, 212);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 35px;
}
.dat2 {
  width: 100%;
  background-color: rgb(132, 10, 101);
  text-align: center;
  color: white;
}
.tab1{
  width: 100%;
  background-color: rgb(169, 169, 222);
}


.contenedor1{
  width: 100%;
  display: flex;
  justify-content:space-evenly;
  background-color: rgb(132, 10, 101); 
}
.ide{
  width: 40%;
}
.cant{
  width: 10%;
}
.vari{
  width: 30%;
}
.num_lot{
  width: 30%;
}


.tabla1{
  width: 100%;
  text-align: center;
  display: flex;
  background-color:  rgb(132, 10, 101);
  color: white;
}
.control1{
  width: 100%;
  background-color:rgb(132, 10, 101);
  color: white;
 }


/* Note that you only needs to edit the config to customize the button! */

.plusButton {
  /* Config start */
  --plus_sideLength: 1rem;
  --plus_topRightTriangleSideLength: 0.4rem;
  /* Config end */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: var(--plus_sideLength);
  height: var(--plus_sideLength);
  background-color: #000000;
  overflow: hidden;
}

.plusButton::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-width: 0 var(--plus_topRightTriangleSideLength) var(--plus_topRightTriangleSideLength) 0;
  border-style: solid;
  border-color: transparent white transparent transparent;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.plusButton:hover {
  cursor: pointer;
}

.plusButton:hover::before {
  --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.plusButton:focus-visible::before {
  --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.plusButton>.plusIcon {
  fill: white;
  width: calc(var(--plus_sideLength) * 0.7);
  height: calc(var(--plus_sideLength) * 0.7);
  z-index: 1;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.plusButton:hover>.plusIcon {
  fill: black;
  transform: rotate(180deg);
}

.plusButton:focus-visible>.plusIcon {
  fill: black;
  transform: rotate(180deg);
}
.bot_usuari{
  width: 100%;
  display: flex;
}
.reg_sel{
  width: 100%;
  display: flex;
  gap: 3px;
}
.container {
  margin: 10px 10px 10px;
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}
table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
  border: 1px solid rgb(132, 10, 101);
}
td,
th {
  text-align: center;
  padding: 8px;
  border-right: 1px solid rgb(132, 10, 101);
}
td {
  font-size: 12px;
}
thead th {
  color: #ffffff;
  background: rgb(132, 10, 101);
}
tr:nth-child(even) {
  background: rgb(235, 131, 219) ;
}
@media (max-width: 767px) {
  table {
    display: block;
    width: 100%;
  }
  thead,
  tbody,
  thead th {
    display: block;
  }
  thead th:last-child{
    border-bottom: none;
  }
  thead{
    float: left;
  }
  tbody{
    width: auto;
    position: relative;
    overflow-x: auto;
  }
  td,
  th{
    padding: 20px .625em .625em .625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
  }
  thead th{
    text-align:left;
    border-bottom: 1px solid #f7f7f9;
  }
  tbody tr{
    display: table-cell;
  }
  tbody tr:nth-child(odd){
    background: transparent;
  }
  tr:nth-child(even){
    background: transparent;
  }
  tr td:nth-child(odd){
    background: #F8F8F8;
    border-right: 1px solid rgb(132, 10, 101);
  }
  tr rd :nth-child(even){
    background-color: rgb(235, 131, 219) ;
    border-right: 1px solid rgb(132, 10, 101);
  }
  tbody td{
display:block;
text-align: center;
  }}