* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.dat_muestra {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dat_muestra_contenedor {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.dat_muestra_form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  gap: 10px;
}
.dat_muestra_titulo {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dat_muestra_titulo h1 {
  font-size: 2.5em;
}
.linea_titulo {
  width: 100%;
  height: 8px;
  background-color: rgb(43, 226, 67);
  border-radius: 25px;
}
.dat_datos {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.dat_datos input {
  width: 100%;
  height: 25px;
  border-radius: 25px;
  padding: 0 10px;
  border: none;
  background-color: rgb(43, 226, 95);
}
h2 {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  padding: 30px 0;
}

.dat_procedencia_titulo {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dat_procedencia_titulo h1 {
  font-size: 2.5em;
}
.procedencia_dat {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.procedencia_dat input {
  width: 100%;
  height: 25px;
  border-radius: 25px;
  padding: 0 10px;
  border: none;
  background-color: rgb(43, 226, 95);
}
.botones{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    width: 100%;
    gap: 10px;
    place-items: center;
    margin-top: 20px;
  }
  .botones input{
    width: 250px;
    height: 30px;
    border-radius: 25px;
    border: none;
    background-color: rgb(3, 237, 93);
    transition: 0.5s;
    cursor: pointer;
  }
.botones input:hover{
    transform: translateY(-8px);
}
.botones input :active{
    transform: translateY(2px);
    transition: 0.3s;
}

.Chek{
    width: 10%;
    display: flex;
    align-items: start;
    justify-content: center;
}
