*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*==================================header=============================*/
.header{
    width: 100%;
    height: 50px;
    background: #85c300 ;
    position: fixed;
    top: 0;
}

/*==================================Encabezado=============================*/

.Encabezado{
    width: 100%;
    height: 100vh;
    background: linear-gradient(#1b1b1ba2,#1b1b1b65),url("../img/laboratorio.webp")no-repeat;
    background-size: cover;
    background-position:25%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#ffffff;
}

.Encabezado_Contenedor{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
}

.Encabezado_Logo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.Encabezado_Logo img{
    width: 50%;
}

.Encabezado_Logo h1{
    font-size: 3rem;
}

.Boton{
    width: 200px;
    height: 25px;
    background-color: #85c300;
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
    border-radius: 25px;
    margin-top: 20px;
    transition: 0.5s;
    border: none;
}

.Boton:hover{
    transform: translateY(-10px);
    box-shadow: 0px 5px 0px #1b1b1b;
}

.Boton:active{
    transform: translateY(5px);
}

@media (max-width:970px){
    .Encabezado_Logo img{
        width: 90%;
    }
    .Encabezado_Logo h1{
        font-size: 2rem;
    }
    .Boton{
        width: 150px;
        height: 25px;
        font-size: 17px;
    }
}

.Encabezado_Muestras{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Encabezado_Muestras img{
    width: 50%;
}

.Encabezado_Muestras h1{
    font-size: 3rem;
}

@media (max-width:970px){
    .Encabezado_Muestras h1{
        font-size: 2rem;
    }
}