*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: #323D40;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

/*==============Primer Parte===========================================*/

.Cabesera_Contenedor {
    width: 100%;
    height: 500px;
    background: #fff url('../img/Diseño.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.Cabesera_Contenedor_Titulo {
    width: 100%;
    height: 100%;
    color: #80F2E7;
    background-color: rgba(0, 0, 0, 0.678);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50px;
}

.Cabesera_Contenedor_Titulo img{
    height: 70%;
}

.Cabesera_Contenedor_Titulo h1{
    font-size: 3em;
    font-family: 'Archivo Black', sans-serif;
}

.Cabesera_Contenedor_Titulo h3{
    font-family: 'Archivo ', sans-serif;
    text-align: center;
    color: #f6f6f6;
}

/*==============Segunda Parte===========================================*/
.Opciones_Contenedor {
    width: 100%;
    padding: 20px;
}

.Opciones_Titulo{
    width: 100%;
    color: #80F2E7;
    font-family: 'Archivo Black', sans-serif;
    display: grid;
    place-items: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.Opciones_Card {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    place-items: center;
    gap:20px;
}

.Card {
    width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F2E8D5;
    border-radius: 20px;
    text-align: center;
}

.Card h1{
    color: #80F2E7;
    font-family:'Archivo Black', sans-serif;
}

.Card p{
    color: #f6f6f6;
}

.Card img{
    width: 100%;
}

.Card_Button{
    width: 150px;
    height: 25px;
    border-radius: 25px;
    background-color: transparent;
    color: #f6f6f6;
    border: none;
    font-family:'Archivo Black', sans-serif;
    margin-top: 15px;
    transition: 0.5s;
    cursor: pointer;
}

.Card_Button:hover{
    background-color: #80F2E7;
    box-shadow: 2px 2px 3px #3a645c;
    color: #323D40;
    transform: translateY(-10px);
}

.Card1{
    background:linear-gradient(rgba(0, 0, 0, 0.40),rgba(0, 0, 0, 0.40)), url('../img/Pedidos.jpg') ;
    background-size: cover;
}
.Card2{
    background:linear-gradient(rgba(0, 0, 0, 0.568),rgba(0, 0, 0, 0.747)), url('../img/Lonas.jpg') ;
    background-size: cover;
}
.Card3{
    background:linear-gradient(rgba(0, 0, 0, 0.40),rgba(0, 0, 0, 0.40)), url('../img/Productos.jpg') ;
    background-size: cover;
}
.Card4{
    background:linear-gradient(rgba(0, 0, 0, 0.40),rgba(0, 0, 0, 0.40)), url('../img/Especial.jpg') ;
    background-size: cover;
}
.Card5{
    background:linear-gradient(rgba(0, 0, 0, 0.40),rgba(0, 0, 0, 0.40)), url('../img/Digital.jpg') ;
    background-size: cover;
}
.Card6{
    background:linear-gradient(rgba(0, 0, 0, 0.40),rgba(0, 0, 0, 0.40)), url('../img/Web.jpg') ;
    background-size: cover;
}


