*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*=======================Proximamente========================*/

.Proximamente {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#62a60e44,#61a60e44),url("../img/FondoGis.webp")no-repeat;
    background-position: center;
    background-size: cover;
}
.Proximamente_Contenedor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Proximamente_Titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Proximamente_Titulo h1{
    color: #0032a0;
    font-size: 3.5em;
    font-family: "Montcerrat",sans-serif;
}
.Proximamente_Img img {
    width: 400px;
    
}
.Singin_Boton{
    text-align: center;
    width: 200px;
    height: 30px;
    font-size: 1.1em;
    font-weight: 800;
    color:#000000;
    border-radius: 25px;
    border: none;
    border:solid 2px #0032a0;
    transition: 0.5s;
    background: transparent;
    padding: 0px 10px;
    text-decoration: none;
    font-family: "Montcerrat",sans-serif;
}

.Singin_Boton:hover{
    transform: translateY(-8px);
    background-color: #0032a0;
    color: #f7efe1;
}

.Singin_Boton:active{
    transform: translateY(2px);
}




/*=======================Footer========================*/
.Footer{
    position: fixed;
    bottom: 0;
    padding: 5px;
}


.Fotter_Contenedor {
    width: 100%;
    height: 50px;
    background: #1a1c20;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-family: 'Montserrat' , sans-serif;
}
.Footer_Logo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: #f7efe1;
}

.Footer_Logo img{
    height: 100%;
}
